{% extends 'base.html.twig' %}

{% block title %}Modifier un film{% endblock %}

{% block body %}
    <h1>Modifier un film</h1>

    {{ include('movie/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('movie_index') }}">Retour à la liste des films</a>

    {{ include('movie/_delete_form.html.twig') }}
{% endblock %}
