{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <h1>Page d'accueil</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Score</th>
                <th>Nombre de votants</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.name }}</td>
                <td>{{ movie.description }}</td>
                <td>{{ movie.score }}</td>
                <td>{{ movie.votersNumber }}</td>
                <td>
                    <a href="{{ path('movie_show', {'id': movie.id}) }}">Afficher</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Base de données vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>{{erreur}}</h1>
    <a href="{{ path('movie_new') }}">Ajouter un film</a>
    <a href="{{ path('movie_import') }}">Importer un fichier XSLS</a>
{% endblock %}
