

{% extends 'base.html.twig' %}

{% block title %}Ajouter film{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau film</h1>

    {{ include('movie/_form.html.twig') }}

    <a href="{{ path('movie_index') }}">Retour à la liste</a>
{% endblock %}
