<!DOCTYPE HTML>
<title>Supprimer Film</title>

{% block body %}

    <h1> ENTRE TON MOT DE PASSE </h1>


    {{ form_start(form) }}
    <button class="btn"> {{ button_label|default('delete') }}</button>
    {{ form_end(form) }}
    <a href="{{ path('movie_index') }}">Retour à la liste</a>

{% endblock %}