
{% extends 'base.html.twig' %}

{% block title %}Film{% endblock %}

{% block body %}
    <h1>Film</h1>

    <table class="table">
        <tbody>
            <tr>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ movie.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ movie.description }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ movie.score }}</td>
            </tr>
            <tr>
                <th>Nombre de votants</th>
                <td>{{ movie.votersNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('movie_index') }}">Retour à la liste</a>

    {{ include('movie/_delete_form.html.twig') }}
{% endblock %}
